<div class="comment">
  <p class="author"><%= comment.author %></p>

  <div class="avis-comment" data-rate="<%= comment.rate %>">
    <%= image_tag "bars/stars_cache.png", class: 'stars-cache' %>
    <div class="jauge"></div>
    <div class="bg-jauge"></div>
  </div>
  <p class="commenter"><%= comment.commenter %></p>


  <div class="delete-comment">
    <% if comment.author == current_member.name %>

        <%= link_to '[x]', [comment.bar, comment],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  <hr>
</div>

