<%= form_for([@bar, @bar.comments.build]) do |f| %>
    <p>
      <%= f.label :commenter %><br />
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :rate %><br />
      <%= f.text_field :rate %>
    </p>
    <%= hidden_field(:comment, :author, :value => current_member.name) %>
    <p>
      <%= f.submit %>
    </p>
<% end %>