<div class="bar-form" onload="initialize()">
    <%= form_for(@bar) do |f| %>
      <% if @bar.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bar.errors.count, "error") %> prohibited this bar from being saved:</h2>

          <ul>
          <% @bar.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :name, placeholder: 'Nom du bar...' %>
      </div>
      <div class="field">
        <%= f.text_field :price, placeholder: 'Prix de la pinte...' %>
      </div>
      <h3>Emplacement du bar</h3>
      <div class="here-c">
        <div id="here" onclick="checkPosition()">J'y suis là !</div>
      </div>
      <div class="field" id="locationField">
        <%= f.text_field :address, placeholder: 'Adresse...', autocomplete: 'off' %>
      </div>
      <%= hidden_field(:bar, :member_id, :value=> current_member.id) %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
</div>


