<div class="bar-form" onload="initialize()">
    <%= form_for(@bar) do |f| %>
      <% if @bar.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@bar.errors.count, "error") %> prohibited this bar from being saved:</h2>

          <ul>
          <% @bar.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="basic">
        <h3>Nom du bar :</h3>
        <%= f.text_field :name%>
        <h3>Prix de la Pinte : </h3>
        <%= f.text_field :price %>
        <h3>Emplacement du bar :</h3>
        <div class="field" id="locationField">
          <%= f.text_field :address, autocomplete: 'off' %>
        </div>
      </div>


      <div class="happy">
        <hr>
        <h3>Happy Hours ! </h3>
        <small>Si il n'y a pas d'happy hour, ou qu'elles n'ont pas été renseignées, laissez les valeurs "début" et "fin" égales. </small>
        <h4>Début happy :</h4>
        <%= f.time_select :start_happy  %>
        <h4>Fin happy :</h4>
        <%= f.time_select :end_happy  %>
        <h4>Prix pendant l'happy hour :</h4>
        <%= f.text_field :price_happy, placeholder: 'Prix en Happy Hours...' %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
</div>


