<h1>Listing des <%= @bars.length%> bars !</h1>
<h2><%= link_to 'New Bar', new_bar_path %></h2>

<div class="info">

</div>

<table id="admin-table-bars">
  <tr>
    <th>N°</th>
    <th><%= sortable "name", "Nom" %></th>
    <th><%= sortable "price", "Prix" %></th>
    <th>Adresse</th>
    <th>HappyHours</th>
    <th><%= sortable "price_happy", "Happy Prix !" %></th>
    <th><%= sortable "created_at", "Création" %></th>

  </tr>

<% @bars.each_with_index do |bar, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td><%= bar.name %></td>
    <td><%= bar.price %></td>
    <td><%= bar.address %></td>
    <td>
      <% if !bar.start_happy.nil? && !bar.end_happy.nil? && bar.start_happy != bar.end_happy %>
        <%= bar.start_happy.strftime("%R") %> - <%= bar.end_happy.strftime("%R") %>
      <% else %>
        no
      <% end %>
    </td>
    <td>
      <% if !bar.price_happy.nil? %>
        <%= bar.price_happy %>
      <% else %>
          no
      <% end %>
    </td>
    <td>
      <%= "#{bar.created_at.strftime("Le %d/%m/%y à %R")}" %>
    </td>
    <td><%= link_to 'Show', bar %></td>
    <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
    <td><%= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

