<h1>Listing barssss</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Adress</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bars.each do |bar| %>
  <tr>
    <td><%= bar.name %></td>
    <td><%= link_to 'Show', bar %></td>
    <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
    <td><%= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div id="bars">
  <% @bars.each do |bar| %>
  <div class="bar" data-lat="<%= bar.latitude %>" data-lnt="<%= bar.longitude %>">
    <header class="bar-header">
      <!--<div class="logo"><img src="images/logo-bar.png" alt=""/></div>-->

      <div class="head-content">
        <h2><%= bar.name %></h2>
        <div class="address">
          <p class="street"><%= bar.adress %></p>
        </div>
        <div class="price"><p><%= bar.price %></p></div>
      </div>
    </header>
  </div>
  <% end %>
</div>
<br />

<%= link_to 'New Bar', new_bar_path %>


<h2>Maps</h2>
<div id="map" style="width: 370px; height: 600px;">
    <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
</div>



