<header id="app-header">
  <h1>Paye ta pinte</h1>
</header>

<div id="map" style="width: 370px; height: 600px;"></div>

<div id="bars">
  <% @bars.each do |bar| %>
      <div class="bar" data-name="<%= bar.name %>" data-lat="<%= bar.latitude %>" data-lnt="<%= bar.longitude %>">
        <div class="bar-header">
          <div class="head-content">
            <h2><%= link_to bar.name, bar %></h2>
            <div class="address">
              <p class="street"><%= bar.adress %></p>
            </div>
            <div class="price"><p><%= bar.price %></p></div>
          </div>
        </div>
      </div>
      <hr>
  <% end %>
</div>
<br />

<%= link_to 'New Bar', new_bar_path %>


<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>





