<p id="notice"><%= notice %></p>


<div>
    <p>
      <b>Name:</b>
      <%= @bar.name %>
    </p>

    <p>
      <b>Price:</b>
      <%= @bar.price %>
    </p>

    <p>
      <b>Address:</b>
      <%= @bar.address %>
    </p>

    <p>
      <b>Rate Global:</b>
      <%= give_bar_rate(@bar) %>
    </p>

    <%= link_to 'Edit', edit_bar_path(@bar) %> |
    <%= link_to 'Back', bars_path %> -->
</div>


