<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="header">
  <%= image_tag "Logo.png" %>
  <div id="btn-opt">+</div>
</div>
<div id="options">
  <button id="add-bar" data-inline="true">Add a Bar</button>
  <input id="pac-input" class="controls" type="search" placeholder="Rechercher un lieu..." >
  <% if member_signed_in? %>
      <p>Connected as <%= current_member.name %> | <%= link_to 'Logout', destroy_member_session_path, :method=>'delete' %>
      </p>
  <% end %>
</div>

<!-- <div id="loader">
  <%= image_tag "icons/loader.gif" %>
</div> -->
<div id="map"></div>

<div id="others"></div>

<div id="bars">
  <div id="cache-container">
    <div id="bars-container"></div>
  </div>

  <div id="page-container">
    <div id="bar-page"></div>
  </div>
</div>

