<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="fb-root"></div>

<div id="header" class="noBounce">
  <%= image_tag "Logo_beta.png" %>

  <div id="btn-opt">
    <%= image_tag "icons/loupe.png" %>
  </div>
</div>
<div id="options">
  <div id="search">
    <input id="pac-input" class="controls" type="search" placeholder="Voir les bars à..." >
  </div>
  <div id="user_nav">
    <% if current_user %>
        <%= image_tag current_user.image %>
        <p class="user-name"><%= current_user.name %></p>
        <p class="signout"><%= link_to "Déconnexion", signout_path, id: "sign_out" %></p>
    <% else %>
        <p class='signin'><%= link_to "Connexion", "/auth/facebook", id: "sign_in" %></p>
    <% end %>
  </div>
</div>
  
<div id="map"></div>

<div id="bars">
  <div id="languette" class="noBounce"><%= image_tag "icons/languette.png" %></div>
  <div id="cache-container" class="noBounce">
    <div id="bars-container" class="noBounce"></div>
  </div>

  <div id="page-container">
    <div id="bar-page"></div>
  </div>
  <div id="nobar" style="display:none;">
    <div class="container">
      <p>Aucun Bar trouvé aux alentours ! </br> <span>Vous connaissez un bar dans le coin ? </br> <a href="http://m.payetapinte.fr/gerant-dun-bar/">Soumettez le à Paye Ta Pinte!</a></span></p>
    </div>
  </div>
</div>

<!--<div id="fb"></div>-->