<div id="fiche-bar">
  <% if @bar.name.length < 25 %>
    <h3><%= @bar.name %></h3>
  <% else %>
      <h3 class="long-name"><%= @bar.name %></h3>
  <% end %>
  <p class="address">
    <%= dont_show_country(@bar.address) %> - <small class="page-distance"></small>
  </p>

  <div class="plus">
    <div class="direction">
      <%= image_tag 'icons/direction-icon.png' %>
    </div>
    <div id="rate">
      <% if give_bar_rate(@bar) == -1 %>
          <p>Soyez le premier à noter ce bar !</p>
      <% else %>
          <div id="rate-c" data-rate="<%= give_bar_rate(@bar) %>">
            <div class="rate-s" > <%= image_tag 'icons/star.png' %></div>
            <div class="rate-s" > <%= image_tag 'icons/star.png' %></div>
            <div class="rate-s" > <%= image_tag 'icons/star.png' %></div>
            <div class="rate-s" > <%= image_tag 'icons/star.png' %></div>
            <div class="rate-s" > <%= image_tag 'icons/star.png' %></div>
          </div>
      <% end %>
    </div>
  </div>

  <div class="under">

      <% if !@bar.start_happy.nil? && !@bar.end_happy.nil? && @bar.start_happy != @bar.end_happy %>
        <div class="left">
          <p class="price">
            <%= transform_price(@bar.price, false) %>€
          </p>
        </div>
        <div class="right">
          <div class="happy-hours">
            <p class="happy-title">HAPPY <span class="bold">HOURS</span></p>
            <p class="hours"><%= @bar.start_happy.hour %>H<%= (@bar.start_happy.min > 0) ? @bar.start_happy.min : nil %> - <%= @bar.end_happy.hour %>H<%= (@bar.end_happy.min > 0) ? @bar.end_happy.min : nil %></p>
            <% if !@bar.price_happy.nil? %>
                <p class="happy-price"><%= transform_price(@bar.price_happy, false) %>€</p>
            <% end %>
          </div>
        </div>
      <% else %>
        <p class="price">
          <%= transform_price(@bar.price, false) %>€
        </p>
      <% end %>

  </div>

  <div class="close"><%= image_tag "icons/less.png" %></div>

  <div id="new-rate" style='display:none;'>
    <div id="comments">
      <%= render "comments/bar_comments" %>
    </div>
  </div>
</div>

