<div id="fiche-bar">
  <h3><%= @bar.name %></h3>

  <p class="price">
    <%= transform_price(@bar.price) %>€
  </p>

  <p class="address">
    <%= @bar.address %>
  </p>

  <div class="avis-page" data-rate="<%= give_bar_rate(@bar) %>">
    <%= image_tag "bars/stars_cache.png", class: 'stars-cache' %>
    <div class="jauge"></div>
    <div class="bg-jauge"></div>
  </div>

  <% if member_signed_in? %>
  <p class="comments-btn" data-id-bar="<%= @bar.id %>">
    Show comments
  </p>
  <div class="comments-container">
    <%= render 'comments/bar_comments' %>
  </div>
  <% end %>

  <div class="close">[x]</div>


</div>
