<div id="fiche-bar">
  <h3><%= @bar.name %></h3>

  <p class="price">
    <%= transform_price(@bar.price) %>€
  </p>

  <p class="address">
    <%= @bar.address %>
  </p>

  <% if !@bar.start_happy.nil? && !@bar.end_happy.nil? && !@bar.price_happy.nil?%>

  <div class="happy-hours">
    <%= @bar.start_happy.hour %>H<%= (@bar.start_happy.min > 0) ? @bar.start_happy.min : nil %>
    <%= @bar.end_happy.hour %>H<%= (@bar.end_happy.min > 0) ? @bar.end_happy.min : nil %>

    <%= transform_price(@bar.price_happy) %>€
  </div>
  <% end %>

  <div class="close">[x]</div>

</div>
