<div class="preview-container">
  <div class="preview" data-id-bar="<%= @bar.id %>"  data-rate="<%= give_bar_rate(@bar) %>" data-price="<%= @bar.price %>">

    <div class="price prev-bloc">
      <p class="beer-price"><%= transform_price(@bar.price, true) %>€</p>
    </div>
    <div class="main prev-bloc">
      <div class="name-container">
        <h2><%= @bar.name %></h2>
      </div>
      <p class="distance"></p>

    </div>
    <div class="more-btn prev-bloc">
        <%= image_tag "icons/more.png" %>
    </div>
  </div>
</div>

