<div class="preview-container">
  <div class="preview" data-id-bar="<%= @bar.id %>"  data-rate="<%= give_bar_rate(@bar) %>">
    <div class="price prev-bloc">
      <p class="beer-price"><%= @bar.price %>€</p>
    </div>
    <div class="main prev-bloc">
      <h2><%= @bar.name %></h2>
      <div class="distavis">
        <p class="distance"></p>
        <div class="avis">
          <%= image_tag "bars/stars_cache.png", class: 'stars-cache' %>
          <div class="jauge"></div>
          <div class="bg-jauge"></div>
        </div>
      </div>
    </div>
    <div class="more-btn prev-bloc">
      more
    </div>
  </div>
</div>

