<ul class="nav">
  <% if member_signed_in? %>
      <li>Connected as <%= current_member.name %></li>
      <li>
        <%= link_to 'Logout', destroy_member_session_path, :method=>'delete' %>
      </li>
  <% else %>
      <li>
        <%= link_to 'Login', new_member_session_path %>
      </li>
  <% end %>
  <% if member_signed_in? %>
      <li>
        <%= link_to 'Edit account', edit_member_registration_path %>
      </li>
  <% else %>
      <li>
        <%= link_to 'Sign up', new_member_registration_path %>
      </li>
  <% end %>

  <%= link_to 'Bars List', bars_path %>
  <%= link_to 'Members List', members_path %>
</ul>