<!DOCTYPE html>
<html>
<head>
  <title>Admin - Payetapinte</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>


<body>
<div id="admin-container">
  <%= yield %>
</div>

</body>
</html>
