<!DOCTYPE html>
<html>
<head>
  <title>Payetapinte</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

    <!--<%= render 'layouts/header' %>-->

    <div id="mobile-container">
      <%= yield %>
    </div>
    <div id="loading">
      <%= image_tag "icons/loading.gif" %>
    </div>
</body>
<script type="text/javascript">
    var see = window.navigator.standalone;
        alert(see);
</script>
</html>
