<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Id:</b>
  <%= @member.id %>
</p>

<p>
  <b>Bar created :</b>
  <ul>
    <% bars_created(@member).each do |bar| %>
    <li>
      <p><%= bar.name %> <small>created at : <%= bar.created_at %></small></p>
    </li>

    <% end %>
  </ul>
</p>

<p>
  <b>Comments</b>
  <ul>
    <% member_commenters(@member).each do |comment|
      bar_commented = Bar.first(:conditions => { :id => comment.bar_id })
    %>
     <li>
       <p>rate : <%= comment.rate %></p>
       <p><%= comment.commenter %></p>
       <small>On bar : <%= bar_commented.name %> <br>
       Create at : <%= comment.created_at %></small>
     </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Back', members_path %>
